body {
  font-family: sans-serif;
  background-color: #ffffff;
  /*background-image: linear-gradient(to bottom, #315481, #ffffff 100%);*/
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

header {
  margin-bottom: 1%;
  background: #ffffff;
  padding: 20px 15px 15px 15px;
  position: relative;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 64px);
  padding-top: 30px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  /* Estilização da div container */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 16px;
  margin-bottom: 16px;
  color: currentColor;
  font-size: 20px;
  font-weight:500;
  align-self: stretch;
  text-align: center;
}

.container a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 0;
  margin-bottom: 0.5%;
}

.container a:hover {
  color: #bababa;
  text-decoration: underline;
}

.user {
  display: flex;

  align-self: flex-end;

  margin: 8px 16px 0;
  font-weight: bold;
  cursor: pointer;
}